/*************
RESET
*************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*************
COMMON
*************/
body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

ul {
    display: flex;
    list-style-type: none;
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

/*************
COLORS
*************/
header {
    background-color: #ff6900;
}

footer {
    background-color: #1a1a1a;
}

header nav a,
footer a {
    color: white;
}

main a {
    color: black;
}

main .item .product-info .discount {
    background-color: #ff0000;
}

main .item .product-info .sost {
    background-color: #008000;
} 

main .item .caption .price strong {
    color: red;
}

/*************
DEBUG
*************/

/*************
EVENTS
*************/
main .item .product img:last-of-type {
    display: none;
}

main .item .product:hover img:first-of-type {
    display: none;
}

main .item .product:hover img:last-of-type {
    display: block;
}

main .item .product .favorite:hover {
    color: red;
}

a:hover {
    text-decoration: underline;
}

/*************
HEADER
*************/
header {
    height: 50px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.6);
}

header nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    gap: 7px;
}

header nav .categories ul li a > h5,
header nav .tools ul li a {
    font-size: 12px;
}

header nav .categories,
header nav .tools {
    width: 20%;
}

header nav .tools > ul {
    justify-content: flex-end;
}

header nav .logo img {
    height: 28px;
}

/*************
MAIN
*************/
main .content {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 90px auto 20px;
    
}

main .item {
    width: calc(100% / 3 - 20px / 3);
    margin-bottom: 30px;
}

main .item .product {
    position: relative;
}

/****
img
****/
main .item .product img {
    width: 100%;
    display: block;
}

/****
info
****/
main .item .product-info {
    position: absolute;
    left: 0;
    bottom: 35px;
}

main .item .product-info > ul {
    gap: 3px;
}

main .item .product-info ul li {
    font-size: 11px;
    font-weight: bold;
    color: white;
    padding: 4px 8px;
}

main .item .product-info .discount.half::after {
    content: '-50%';
} 

main .item .product-info .discount.thirty::after {
    content: '-30%';
} 

main .item .product-info .sost::after {
    content: 'Sostenibilità';
} 

main .item .product .favorite {
    background-color: white;
    position: absolute;
    right: 0;
    top: 8px;
    padding: 12px 11px;
}

/****
caption
****/
main .item .caption small:first-child,
main .item .caption .price {
    font-size: 11px;
}

main .item .caption .price span {
    text-decoration: line-through;
}

/*************
FOOTER
*************/
footer {
    border-bottom: 2px solid #ffffff;
}

footer .footer-bar {
    color: white;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer-bar .col .service-info li > a {
    font-size: 10px;
}

footer .footer-bar .col {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

footer .footer-bar .col ul {
    gap: 8px;
} 