/*************
RESET
*************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*************
COMMON
*************/
body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

/*************
COLORS
*************/
header {
    background-color: #ff6900;
}

/*************
DEBUG
*************/

/*************
HEADER
*************/
header {
    height: 50px;
}

header nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style-type: none;
    gap: 7px;
}

header nav ul li > a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

header nav .tools ul li > a > i {
    font-size: 13px;
}

header nav .logo {
    height: 100%;
    padding: 13px;
}

header nav .logo img {
    height: 100%;
}

/*************
MAIN
*************/

/*************
FOOTER
*************/